





.cena{
    position: absolute;
    top:500vh;
    height: 110vh;
    width: 100%;
    z-index: 5;
    transform: skewY(-4deg);
      /* border-top: 8px solid lightslategray; */
      background-color: rgb(156, 183, 211);
      border-bottom: 8px solid lightslategray;
 

    
}

.ravnoCena{
  height: 100%;
  width: 100%;
  z-index:5;
  transform: skewY(4deg);
  font-family: 'Quicksand', sans-serif;
  



}






.threSteps{

  height:60vh;
  width: 100%;
  display: flex;
  align-items: center;

 


 
}



@media only screen and (max-width: 768px) {

.cena{
  position: absolute;
  top:1235vh;
  height: 200vh;
  width: 100%;
  z-index: 5;
  transform: skewY(-4deg);
    /* border-top: 8px solid lightslategray; */
    background-color: rgb(156, 183, 211);
    border-bottom: 8px solid lightslategray;
    cursor: pointer;


  
}

.ravnoCena{
height: 100%;
width: 100%;
z-index:5;
transform: skewY(4deg);
font-family: 'Quicksand', sans-serif;




}






.threSteps{

height:45vh;
width: 100%;
display: flex;
align-items: center;





}

 
}
  