


.footer{
    position: absolute;
    top: 710vh;
    height: 70vh;
    width: 100%;
    z-index: 3;
    transform: skewY(-4deg);
      /* border-top: 8px solid lightslategray; */
      background-color: rgb(156, 183, 211);
      border-bottom: 8px solid lightslategray;
      cursor: pointer;
 

    
}

.ravnoFooter{
  height: 100%;
  width: 100%;
  z-index:3;
  transform: skewY(4deg);
  font-family: 'Quicksand', sans-serif;
  



}



@media only screen and (max-width: 768px) {
  



    .footer{
      position: absolute;
      top: 1570vh;
      height: 70vh;
      width: 100%;
      z-index: 3;
      transform: skewY(-4deg);
        /* border-top: 8px solid lightslategray; */
        background-color: rgb(156, 183, 211);
        border-bottom: 8px solid lightslategray;
    
    
      
    }
    
    .ravnoFooter{
    height: 100%;
    width: 100%;
    z-index: 3;
    transform: skewY(4deg);
    font-family: 'Quicksand', sans-serif;
    
    
    
    
    }
    
    
    
    }
    
    