@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.main{
     
    height: 105vh;
    width: 100%;
    z-index:3;
    transform: skewY(-4deg);
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    background-color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightslategray;
    color: white;
  
  

}




.headline{
    height: 15vh;
    width: 100%;
    transform: skewY(4deg);
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 1.6rem;
  
}

.firstDiv{
    height: 30vh;
    width: 85%;
    transform: skewY(4deg);
    /* border: 1px solid red; */
    display: flex;
    align-items:center;
    justify-content: space-around;
    font-size: 1.4rem;

}
.firstDiv_items{
    height: 70%;
    width: 20%;
}





.secondDiv{
    height: 30vh;
    width: 85%;
    transform: skewY(4deg);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;

}

.secondDiv_items{

    height: 70%;
    width: 20%;


}




.footerDiv{
    height: 15vh;
    width: 100%;
    transform: skewY(4deg);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
 

}
.prazanDiv{
    height: 15vh;
    width: 100%;
    transform: skewY(4deg);
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}


@media only screen and (max-width: 768px) {
    .main{
     
        height:380vh;
        width: 100%;
        z-index:3;
        transform: skewY(-4deg);
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        background-color: whitesmoke;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: lightslategray;
        color: white;
      
      
    
    }

    .headline{
        height: 15vh;
        width: 100%;
        transform: skewY(4deg);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 1.4rem;
      
    }

    
.firstDiv{
    height: 165vh;
    width: 85%;
    transform: skewY(4deg);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    font-size: 1.4rem;

}
.firstDiv_items{
    height: 40vh;
    width: 85%;
  
}





.secondDiv{
    height: 165vh;
    width: 85%;
    transform: skewY(4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;

}

.secondDiv_items{

    height: 45vh;
    width: 85%;


}






    .footerDiv{
        height: 15vh;
        width: 90%;
        transform: skewY(4deg);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
     
    
    }

 
  }




  @media only screen and (max-width: 651px) {
  


    .footerDiv{
        height: 15vh;
        width: 90%;
        transform: skewY(4deg);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .8rem;
     
    
    }

 
  }


  @media only screen and (max-width: 521px) {
  


    .footerDiv{
        height: 15vh;
        width: 95%;
        transform: skewY(4deg);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .7rem;
     
    
    }

 
  }


  
  @media only screen and (max-width: 456px) {
  


    .footerDiv{
        height: 15vh;
        width: 95%;
        transform: skewY(4deg);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .6rem;
     
    
    }

 
  }


  @media only screen and (max-width: 370px) {
  


    .footerDiv{
        height: 15vh;
        width: 95%;
        transform: skewY(4deg);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .55rem;
     
    
    }

 
  }