@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.ukoso{
    position: absolute;
    top: 85vh;
    height: 120vh;
    width: 100%;
    z-index: 8;
    transform: skewY(-4deg);
      border-top: 8px solid lightslategray;
      background-color: whitesmoke;
      /* border-bottom: 8px solid lightslategray; */
    
}

.ravno{
    height: 100%;
    width: 100%;
    z-index:8;
    transform: skewY(4deg);
    font-family: 'Quicksand', sans-serif;


}

@media only screen and (max-width: 768px) {

    .ukoso{
        position: absolute;
        top: 85vh;
        height: 190vh;
        width: 100%;
        z-index: 8;
        /* transform: skewY(-4deg); */
          /* border-top: 8px solid lightslategray; */
          background-color: whitesmoke;
    
        
    }
    
    .ravno{
        height: 100%;
        width: 100%;
        z-index:8;
        /* transform: skewY(4deg); */
        font-family: 'Quicksand', sans-serif;
    
    
    }
    
  
  }


  @media only screen and (max-width: 386px) {

    .ukoso{
        position: absolute;
        top: 85vh;
        height: 200vh;
        width: 100%;
        z-index: 8;
        transform: skewY(-4deg);
          border-top: 8px solid lightslategray;
          background-color: whitesmoke;
          
        
    }
    
    .ravno{
        height: 100%;
        width: 100%;
        z-index:8;
        transform: skewY(4deg);
        font-family: 'Quicksand', sans-serif;
    
    
    } 
    
   
  } 